*{
    margin: 0;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.main-div {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)),url(https://raw.githubusercontent.com/Fazil-SA/Web-Scraping/main/client/src/assets/background.jpg);
    background-position: center;
    background-size: cover;
}

.table-heading {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.MuiTablePagination-displayedRows {
    color: #fff
}

.MuiSvgIcon-root {
    color: #fff;
}